<form 
  [ngFormModel] = "signupForm"
  (ngSubmit)="onSubmit(signupForm.value)"
>     
  
      <!-- GENERAL ERROR MESSAGES -->
      <div class="error-message" [hidden]="!emailTaken">
          {{ 'account-exists' | translate:{value: param} }}
      </div>

      <div class="error-message" [hidden]="!error">
          {{ 'error' | translate:{value: param} }}
      </div>
      <!-- END GENERAL ERROR MESSAGES -->

      <!-- EMAIL GROUP -->
      <div  class="form-group"
      [ngClass]="{ 'has-error' : !email.valid && submitAttempt }"
      >

        <label for="email">
          {{ 'email' | translate:{value: param} }}
        </label>
        <em *ngIf="!email.valid && submitAttempt">
          {{ 'email-required' | translate:{value: param} }}
        </em>
        <input 
          id="email" 
          type="text" 
          class="form-control" 
          placeholder="{{ 'email' | translate:{value: param} }}" 
          ngControl="email"
        >
      </div>

      <div  class="form-group"
      [ngClass]="{ 'has-error' : !emailRepeat.valid && submitAttempt }"
      >

        <label for="email-repeat">
          {{ 'email-repeat' | translate:{value: param} }}
        </label>
        <em *ngIf="!emailRepeat.valid && submitAttempt">
          {{ 'email-required' | translate:{value: param} }}
        </em>
        <em *ngIf="signupForm.hasError('emailMatch') && submitAttempt">
          {{ 'email-match' | translate:{value: param} }}
        </em>
        <input 
          id="email-repeat" 
          type="text" 
          class="form-control" 
          placeholder="{{ 'email-repeat' | translate:{value: param} }}" 
          ngControl="emailRepeat"
        >
      </div>
      <!-- END EMAIL GROUP -->

      <!-- PASSWORD GROUP -->
      <div class="form-group"
      [ngClass]="{ 'has-error' : !password.valid && submitAttempt }">
        <label for="password">
          {{ 'password' | translate:{value: param} }}
        </label>
        <em *ngIf="!password.valid && submitAttempt">
          {{ 'password-required' | translate:{value: param} }}
        </em>
        <input 
          type="password" 
          class="form-control" 
          placeholder="{{ 'password' | translate:{value: param} }}" 
          ngControl="password"
        >     
      </div>

      <div class="form-group"
      [ngClass]="{ 'has-error' : !passwordRepeat.valid && submitAttempt }">
        <label for="passwordRepeat">
          {{ 'password-repeat' | translate:{value: param} }}
        </label>
        <em *ngIf="!passwordRepeat.valid && submitAttempt">
          {{ 'password-required' | translate:{value: param} }}
        </em>
        <em *ngIf="signupForm.hasError('passwordMatch') && submitAttempt">
          {{ 'password-match' | translate:{value: param} }}
        </em>
        <input 
          type="password" 
          class="form-control" 
          placeholder="{{ 'password-repeat' | translate:{value: param} }}" 
          ngControl="passwordRepeat"
        >     
      </div>
      <!-- END PASSWORD GROUP -->

      <!-- Country GROUP -->
      <div class="form-group">
        <label for="country">
          {{ 'country' | translate:{value: param} }}
        </label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="{{ 'country' | translate:{value: param} }}" 
          [(ngModel)]=query (keyup)=filter(query)
        >     
        <div class="suggestions" *ngIf="filteredList.length > 0">
          <ul *ngFor="let country of filteredList">
            <li>
              <a (click)="select(country)">{{ country }}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END country GROUP -->

      <!-- FIRSTNAME GROUP -->
      <div  class="form-group">

        <label for="firstName">
          {{ 'firstName' | translate:{value: param} }}
        </label>
        <input 
          id="firstName" 
          type="text" 
          class="form-control" 
          placeholder="{{ 'firstName' | translate:{value: param} }}"
          ngControl="firstName"
        >
      </div>
      <!-- END FIRSTNAME GROUP -->

      <!-- LASTNAME GROUP -->
      <div  class="form-group">

        <label for="lastName">
          {{ 'lastName' | translate:{value: param} }}
        </label>
        <input 
          id="lastName" 
          type="text" 
          class="form-control" 
          placeholder="{{ 'lastName' | translate:{value: param} }}"
          ngControl="lastName"
        >
      </div>
      <!-- END LASTNAME GROUP -->


      <button md-raised-button color="primary" type="submit"> {{ 'signup' | translate:{value: param} }}</button>

</form>