<form 
  [ngFormModel] = "loginForm"
  (ngSubmit)="onSubmit(loginForm.value)"
>     
      <!-- GENERAL ERROR MESSAGES -->
      <div class="error-message" [hidden]="!credientials">
          {{ 'credentials' | translate:{value: param} }}
      </div>

      <div class="error-message" [hidden]="!error">
          {{ 'error' | translate:{value: param} }}
      </div>
      <!-- END GENERAL ERROR MESSAGES -->

      <!-- EMAIL GROUP -->
      <div  class="form-group"
      [ngClass]="{ 'has-error' : !email.valid && submitAttempt }"
      >

        <label for="email">
          {{ 'email' | translate:{value: param} }}
        </label>
        <em *ngIf="!email.valid && submitAttempt">
          {{ 'email-required' | translate:{value: param} }}
        </em>
        <input 
          id="email" 
          type="text" 
          class="form-control" 
          placeholder="{{ 'email' | translate:{value: param} }}" 
          ngControl="email"
        >
      </div>
      <!-- END EMAIL GROUP -->

      <!-- PASSWORD GROUP -->
      <div class="form-group"
      [ngClass]="{ 'has-error' : !password.valid && submitAttempt }">
        <label for="password">
          {{ 'password' | translate:{value: param} }}
        </label>
        <em *ngIf="!password.valid && submitAttempt">
          {{ 'password-required' | translate:{value: param} }}
        </em>
        <input 
          type="password" 
          class="form-control" 
          placeholder="{{ 'password' | translate:{value: param} }}" 
          ngControl="password"
        >     
      </div>
      <!-- END PASSWORD GROUP -->

      <button md-raised-button color="primary" type="submit"> {{ 'login' | translate:{value: param} }}</button>
</form>