.suggestions{
	border:solid 1px #f1f1f1;
	position:absolute;
	background: white;
	max-height: 150px;
	display: block;
	overflow-y: hidden;
	z-index: 5;
}

.suggestions ul{
	padding: 0px;
	margin: 0px;
}

.suggestions ul li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.suggestions ul li a{
	padding:5px;
	display: block;
	text-decoration: none;
	color:#7E7E7E;
}

.suggestions ul li a:hover{
	background-color: #f1f1f1;
}